# easier navigation

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# git 

# undo a git push
alias undopush="git push -f origin HEAD^:master"

# shortcuts
alias g="git"
alias v="vim"

# file size
alias fs="stat -f \"%z bytes\""

#hide all desktop icons
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder:


